.details-info {
  visibility: hidden;
}

.card-div {
  cursor: pointer;
}

.card-div:hover .details-info {
  visibility: visible;
  transition-delay: 0.3s;
  transition-timing-function: ease-in-out;
}
